
*{margin:0px !important; padding:0px !important; }
#printbtn{display:none;}
#invtypeselect{display:none;}
#printableArea{ margin:7px; text-align: center; height:100%; width:100%; }
#main{height:100%;  margin-left:70px !important; margin-top:-3px !important;}   